#background {
  object-fit: cover;
  height: 100vh;
  width: 100vw;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  filter: blur(7px);
  z-index: -1;
}

.outer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.player-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  height: 400px;
  width: 325px;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: 0 0 30px #f94c57;
}

#thumbnail {
  position: absolute;
  object-fit: fill;
  height: 100%;
  width: 100%;
  top: -10%;
  transition: 1s;
  z-index: 3;
}

.box {
  position: absolute;
  height: 45%;
  width: 100%;
  background: linear-gradient(90deg, rgb(145, 145, 145), rgb(220, 220, 220));
  z-index: 4;
  bottom: -10%;
  display: grid;
  grid-template-colums: 35px 255px 35px;
  grid-template-rows: 85px 25px 25px;
  grid-template-areas:
    "one two two three"
    "four four four four"
    "five five five five";
  column-gap: 10px;
}

.play-pause {
  grid-area: one;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.fa-pause-circle {
  filter: invert(1);
  cursor: pointer;
  display: none;
}

#play,
#prev-track,
#next-track {
  filter: invert(1);
  cursor: pointer;
}

.track-info {
  grid-area: two;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding-left: 5%;
  /* border: 1px solid red; */
}

#track-artist {
  color: #f94c57;
  font-family: "Lato", sans-serif;
  font-weight: bold;
  font-size: 1.125rem;
  text-shadow: 0 0 15px white;
}

#track-title {
  color: white;
  font-family: "Lato", sans-serif;
  font-size: 1rem;
}

.next-prev {
  grid-area: three;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  /* border: 1px solid red; */
}

.progress-bar {
  grid-area: four;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

#progressBar {
  appearance: none;
  height: 5px;
  background: white;
  width: 57.5%;
  outline: none;
  border-radius: 30px;
}

#progressBar::-webkit-slider-thumb {
  appearance: none;
  height: 11px;
  width: 11px;
  outline: none;
  background: #f94c57;
  border-radius: 30px;
  cursor: pointer;
}

.track-time {
  grid-area: five;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  /* border: 1px solid red; */
}

#currentTime {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: white;
}

#durationTime {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #f94c57;
  text-shadow: 0 0 15px white;
}

.u-backlink {
  position: relative;
  text-align: center;
  padding: 1em;
}
.u-backlink a:first-letter {
  text-transform: capitalize;
}
.u-backlink a,
.u-backlink p {
  display: inline-block;
}
.u-backlink span {
  font-size: 0.8rem;
}
.u-backlink .u-link {
  text-decoration: underline;
}
.u-backlink span,
.u-backlink .u-link:hover {
  text-decoration: none;
}

.u-grey-80{
  color: #ffffff;
  background-color: #333333;
}

.u-clearfix:after,
.u-clearfix:before {
  content: '';
  display: table;
}
.u-clearfix:after {
  clear: both;
}

.u-header.u-sticky {
  position: fixed;
  top: 0;
}
@supports (position: sticky) {
  .u-header.u-sticky {
    position: sticky;
  }
}
@supports (position: -webkit-sticky) {
  .u-header.u-sticky {
    position: -webkit-sticky;
  }
}
.u-sticky {
  transition: background-color 250ms, box-shadow 250ms;
}
.u-overlap .u-header {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
}
.u-header.u-sticky,
.u-overlap .u-header {
  z-index: 20;
  padding-top: 0.1px;
}
.u-overlap .u-header.u-sticky {
  position: fixed;
}
.u-overlap.u-overlap-transparent .u-header {
  background-color: transparent !important;
  background-image: none !important;
}
.u-overlap.u-offcanvas-opened .u-header.u-sticky {
  z-index: auto;
  position: absolute !important;
}
.u-overlap.u-offcanvas-opened .u-header.u-sticky + section {
  z-index: -1;
}
.u-overlap.u-overlap-transparent .u-header,
.u-image,
.u-gradient {
  color: #111111;
}
.u-shading,
.u-overlap.u-overlap-contrast .u-header {
  color: #ffffff;
}
.u-body {
  color: #111111;
  background-color: #ffffff;
  --effect-scale: 1.1;
}

 .u-header {
  background-image: none;
}

.u-header .u-sheet-1 {
  min-height: 115px;
}

.u-header .u-text-1 {
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 2.25rem;
  margin: 36px auto 36px 36px;
}




@media (max-width: 575px) {
  .u-header .u-sheet-1 {
    min-height: 110px;
  }

  .u-header .u-text-1 {
    width: auto;
    font-size: 1.875rem;
    margin-top: 37px;
    margin-bottom: 37px;
    margin-left: 0;
  }
}
.u-hide-header .u-header,
.u-hide-footer .u-footer {
  display: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Lobster;
}

.u-font-lobster.u-custom-font {
  font-family: Lobster, display !important;
}